# S&P 500 by date

Get snapshot of S&P 500 components at a given date

In [1]:
from datetime import datetime
import os
import shutil
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_rows', 600)

# -*- encoding: utf-8 -*-
%matplotlib inline

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
# Date to use for snapshot of S&P 500 components.
snap_shot = '2018-10-23'

In [4]:
def get_table(filename):

    if os.path.isfile(filename):
        df = pd.read_csv(filename, index_col='date')
        return df

In [5]:
filename = 'S&P 500 Historical Components & Changes(08-17-2024).csv'
df = get_table(filename)
df.tail()

                                                      tickers
date
2024-03-25  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2024-04-03  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2024-05-08  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2024-06-24  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...
2024-07-08  A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM...

In [6]:
# Convert ticker column from csv to list, then sort.
df['tickers'] = df['tickers'].apply(lambda x: sorted(x.split(',')))
df.tail()

                                                      tickers
date
2024-03-25  [A, AAL, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADB...
2024-04-03  [A, AAL, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADB...
2024-05-08  [A, AAL, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADB...
2024-06-24  [A, AAL, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADB...
2024-07-08  [A, AAL, AAPL, ABBV, ABNB, ABT, ACGL, ACN, ADB...

In [7]:
# Number of symbols in the first row.
l = list(df['tickers'].head(1))[0]
len(l)

487

In [8]:
# Get the synbols on snap_shot date by filtering df by rows before or on the snap_shot date,
# then picking the last row.
df2 = df[df.index <= snap_shot]
last_row = df2.tail(1)
last_row

                                                      tickers
date
2018-10-15  [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN,...

In [9]:
past = last_row['tickers'].iloc[0]
print('*'*40, f'S&P 500 on {snap_shot}', '*'*40)
print(past)

**************************************** S&P 500 on 2018-10-23 ****************************************
['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP', 'AES', 'AET', 'AFL', 'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AMD', 'AME', 'AMG', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APC', 'APD', 'APH', 'APTV', 'ARE', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AZO', 'BA', 'BAC', 'BAX', 'BBT', 'BBY', 'BDX', 'BEN', 'BF.B', 'BHF', 'BHGE', 'BIIB', 'BK', 'BKNG', 'BLK', 'BLL', 'BMY', 'BR', 'BRK.B', 'BSX', 'BWA', 'BXP', 'C', 'CA', 'CAG', 'CAH', 'CAT', 'CB', 'CBOE', 'CBRE', 'CBS', 'CCI', 'CCL', 'CDNS', 'CELG', 'CERN', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CPRI', 'CPRT', 'CRM', 'CSCO', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DISH', 'DLR', 'DLTR', 'DOV', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DWDP', 'DXC', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX', 'EQR', 'EQT', 'ES', 'ESRX', 'ESS', 'ETFC', 'ETN', 'ETR', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FL', 'FLIR', 'FLR', 'FLS', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRT', 'FTI', 'FTNT', 'FTV', 'GD', 'GE', 'GILD', 'GIS', 'GLW', 'GM', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI', 'HCA', 'HCP', 'HD', 'HES', 'HFC', 'HIG', 'HII', 'HLT', 'HOG', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ', 'HRB', 'HRL', 'HRS', 'HSIC', 'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INCY', 'INFO', 'INTC', 'INTU', 'IP', 'IPG', 'IPGP', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JEF', 'JNJ', 'JNPR', 'JPM', 'JWN', 'K', 'KEY', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'KSS', 'KSU', 'L', 'LB', 'LEG', 'LEN', 'LH', 'LKQ', 'LLL', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUV', 'LYB', 'M', 'MA', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOS', 'MPC', 'MRK', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTD', 'MU', 'MYL', 'NBL', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NKTR', 'NLSN', 'NOC', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL', 'NWS', 'NWSA', 'O', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY', 'PAYX', 'PBCT', 'PCAR', 'PCG', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR', 'PX', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RHT', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTN', 'SBAC', 'SBUX', 'SCG', 'SCHW', 'SEE', 'SHW', 'SIVB', 'SJM', 'SLB', 'SLG', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYMC', 'SYY', 'T', 'TAP', 'TDG', 'TEL', 'TGT', 'TIF', 'TJX', 'TMK', 'TMO', 'TPR', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN', 'TSS', 'TTWO', 'TWTR', 'TXN', 'TXT', 'UA', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'UTX', 'V', 'VAR', 'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'WAT', 'WBA', 'WCG', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRK', 'WU', 'WY', 'WYNN', 'XEC', 'XEL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS']

In [10]:
# Get current S&P500 list.
filename = 'sp500.csv'
current = pd.read_csv(filename)
current = sorted(list(current['Symbol']))
#print(current)

In [11]:
# Show what's been added and removed since snap_shot date.

added = list(set(current) - set(past))
print('*'*40, f'ADDED since {snap_shot}', '*'*40)
print(added)
print()

removed = list(set(past) - set(current))
print('*'*40, f'REMOVED since {snap_shot}', '*'*40)
print(removed)

**************************************** ADDED since 2018-10-23 ****************************************
['KKR', 'VTRS', 'MRNA', 'TT', 'GDDY', 'LYV', 'CTVA', 'TSLA', 'GEV', 'TRGP', 'PARA', 'WTW', 'AXON', 'GEHC', 'J', 'ELV', 'LW', 'DOC', 'GEN', 'COR', 'DPZ', 'CDW', 'NXPI', 'ENPH', 'VLTO', 'GNRC', 'TECH', 'PAYC', 'WRB', 'DAY', 'LHX', 'KDP', 'GL', 'CPT', 'PANW', 'DECK', 'TFC', 'RVTY', 'JBL', 'ACGL', 'POOL', 'STE', 'EG', 'JKHY', 'ODFL', 'HUBB', 'CRWD', 'SW', 'META', 'MTCH', 'VICI', 'EPAM', 'HWM', 'LIN', 'TER', 'CZR', 'BKR', 'DXCM', 'BALL', 'CARR', 'ON', 'BIO', 'KVUE', 'UBER', 'MPWR', 'AMCR', 'ABNB', 'VST', 'STLD', 'NOW', 'IEX', 'PTC', 'BRO', 'KEYS', 'BLDR', 'CE', 'DD', 'FDS', 'CTRA', 'OTIS', 'FI', 'DOW', 'SMCI', 'CSGP', 'ETSY', 'TRMB', 'BX', 'BG', 'PODD', 'CPAY', 'LVS', 'BBWI', 'FANG', 'WAB', 'CEG', 'CRL', 'LULU', 'MOH', 'WST', 'FSLR', 'NVR', 'MKTX', 'TFX', 'TDY', 'RTX', 'SOLV', 'WBD', 'ATO', 'TMUS', 'LDOS', 'ZBRA', 'TYL', 'FICO', 'CTLT', 'INVH', 'NDSN']

**************************************** REMOVED since 2018-10-23 ****************************************
['FTI', 'WLTW', 'NKTR', 'PX', 'NFX', 'CBS', 'JWN', 'KSU', 'ABC', 'SEE', 'STI', 'FLIR', 'HOG', 'WHR', 'RHT', 'BBT', 'CXO', 'ADS', 'COL', 'SYMC', 'NWL', 'HFC', 'GT', 'JEC', 'HCP', 'XRX', 'PVH', 'LB', 'FLR', 'FISV', 'KSS', 'XRAY', 'WRK', 'PBCT', 'NOV', 'RE', 'ZION', 'PRGO', 'COG', 'ALXN', 'BHGE', 'DRE', 'ATVI', 'LEG', 'GPS', 'CTL', 'HRB', 'XEC', 'HP', 'VFC', 'UTX', 'TSS', 'FBHS', 'UA', 'FL', 'DISCK', 'CTXS', 'SCG', 'BLL', 'MAT', 'DISH', 'IPGP', 'JEF', 'AAP', 'M', 'COTY', 'ARNC', 'TMK', 'DISCA', 'TRIP', 'ESRX', 'WCG', 'LNC', 'BHF', 'FB', 'AGN', 'AIV', 'MYL', 'CERN', 'ABMD', 'UNM', 'TWTR', 'LLL', 'RTN', 'PXD', 'ILMN', 'WU', 'MAC', 'NLSN', 'ANTM', 'CMA', 'XLNX', 'APC', 'CELG', 'VIAB', 'VNO', 'ALK', 'SIVB', 'SLG', 'DXC', 'NBL', 'CA', 'AMG', 'HRS', 'HBI', 'FLS', 'ETFC', 'CPRI', 'TIF', 'AET', 'DWDP', 'SRCL', 'VAR', 'PKI', 'FLT', 'RHI', 'UAA', 'INFO']